*.out
/pq_impl/numa-pq-simult/debug.txt
/pq_impl/microbench/perf.*
/pq_impl/microbench/stat.log
/pq_impl/sssp/inputs/*
/pq_impl/sssp/results/*
/pq_impl/sssp/obj64/*
/pq_impl/sssp/bad_results/*
/pq_impl/sssp/out.txt
/pq_impl/sssp/data/*
/pq_impl/sssp/data*
/pq_impl/microbench/data-desg-us/
/pq_impl/microbench/data-micro/
/pq_impl/microbench/data-phased/
/pq_impl/microbench/data/
/pq_impl/microbench/data-desg/
*.html
pq_impl/__pycache__/
*.csv
summary.txt
*.o
pq_impl/microbench/experiment_list.txt
pq_impl/microbench/perf_data/*
pq_impl/microbench/warnings.txt
folly/
*.d